.navbar {
    background-color: var(--color-secondary);
    width: 100vw;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;

    overflow-y: hidden;
    overflow-y: hidden;
    /* overflow-y: hidden;
    overflow-x: scroll; */

    padding: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    max-width: 90%;
}

li{
    padding: 10px;
}

.nav-itens a{
    color: var(--color-secondary);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.8rem;
    background-color:var(--color-primary);
    border-radius: 100px;
    padding: 10px;
}

