.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
.header img{
    width: 80%;
    height: auto;

}
#RetangleIntersection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 1fr;

    grid-template-areas:
        "photo result"
        "photo form"
}
.photo{
    grid-area: photo;
}
.form{
    grid-area: form;
}
.result div{
    grid-area: result;
    background-color: rgba(255, 255, 255, 0.541);
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: auto;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1px;
}
